#control-items {
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 10;
}

#control-items button {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.25em 1em;
  font-size: 1.2em;
  color: white;
  background-color: #506070;
  border: 1px solid #708090;
  border-radius: 0.25em;
}

#control-items button:hover {
  background-color: #304050;
  box-shadow: 0 0 0.5em #708090;
}
