#control-items {
  position: fixed;
  top: 5vh;
  right: 5vw;
  max-width: 90vw;
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

#control-items button {
  display: inline-block;
  padding: 0.25em 0.75em;
  font-size: 1.2em;
  color: white;
  background-color: #506070;
  border: 1px solid #708090;
  border-radius: 0.25em;
}

#control-items button:hover {
  background-color: #304050;
  box-shadow: 0 0 0.5em #708090;
}
